<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% block extend_head %}
  {% endblock %}

</head>
<body>
  
  <!-- This allows us to extend the foot scripts in HTML docs that have special requirements-->
  {% block extend_footer %}

  {% endblock %}

  {% block content %}
  {% endblock %}

  <script src="{% static 'main.js' %}"></script>
  

</body>
</html>